<h1><%= @room.name %></h1>
<% if session[:user_id] %>
  <% user = User.find_by(id: session[:user_id]) %>
  <p>ログイン中:
    ID: <%= user.id %>
    名前: <%= user.name %>
  </p>
  <%= link_to "プロフィール編集", edit_user_path(user), class: "btn btn-primary" %>
<% else %>
  <p>ログインしていません</p>
<% end %>
<%= button_to "ログアウト", logout_path, method: :delete, class: "btn btn-danger" %>